html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h2{
    margin-top: 15px;
    color: rgb(238, 232, 232);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

details {
	position: absolute;
	align-self:flex-end;
	justify-content: flex-end;
	width: 100px;
	margin-right: 1rem;
    margin-left: 25px;
    margin-top: -92px;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 10px;
	background-color:rgba(45, 1, 82, 0.3);
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}
  

  li {
    margin: 0;
    padding: 1rem 0;
    display: grid;
    align-items: center; /* Center the content vertically */
    border-bottom: 1px solid #727272; /* Add a border between rows */
  }

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	color: white;
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

.ul1-list {
	width: 500px;
    background: rgba(45, 1, 82, 0.3);
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 0;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 14px;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Set 4 equal-width columns */
    grid-gap: 10px; /* Adjust the gap between cells as needed */
	counter-reset: labels;
}

label {
	color:rgb(238, 232, 232);
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: white;
	box-shadow: inset 0 0 5px grey;
  }
  
  ::-webkit-scrollbar-thumb {
	background: grey;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #5A5A5A;
  }