.nav-bar{
    position: fixed;
    width: 300px;
    height: 100%;
    border: 3px, solid, orange;
    background-color: rgba(1,1,1,0.9);
    z-index: 2;
    padding-left: 30px;
    padding-top: 30px;
}

.nav-bar-caption{
    margin-bottom: 30px;
   
}

.nav-bar-home{
    font-size: 50px;
    color:rgb(105, 5, 199);
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}

.nav-bar-side {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 30px;
    text-decoration: none;
}
.nav-bar-logout  {
    border-radius: 15px;
    padding: 5px 15px 3px 15px;
    margin-top: 31vw;
    border: 2px solid white;
    color: white;
    background: none;
    font-size: 20px;
}

.nav-bar-logout:hover {
    background: white;
    color: black;
}

.nav-bar-button {
    position: fixed;
    z-index: 3;
    margin-left: 220px;
    margin-top: 40px;
    width: 50px;
    border-radius: 15px;
    padding: 5px 15px 3px 15px;
    border: 2px solid white;
    color: white;
    background: none;
    font-size: 20px;
}

.nav-bar-button:hover {
    background: white;
    color: black;
}